@{
    ViewData["Title"] = "О нас";
}

<section class="team">
    <div class="team-member">
        <div class="photo-container">
            <img src="~/images/team/Александр.jpg" alt="Александр">
        </div>
        <h3>Александр</h3>
        <p>Full-stack разработчик</p>
    </div>

    <div class="team-member">
        <div class="photo-container">
            <img src="~/images/team/Илья.jpg" alt="Илья">
        </div>
        <h3>Илья</h3>
        <p>Frontend специалист</p>
    </div>

    <div class="team-member">
        <div class="photo-container">
            <img src="~/images/team/Артем.jpg" alt="Артем">
        </div>
        <h3>Артем</h3>
        <p>UI/UX дизайнер</p>
    </div>
</section>
