@{
    ViewData["Title"] = "Главная";
}

<section class="hero">
    <h1>Добро пожаловать!</h1>
    <p>
        Мы - молодая команда инициативных разработчиков, предоставляющая IT-услуги.
        Разрабатываем амбициозную платформу для трудоустройства и ведения профессионального блога.
    </p>
</section>